body
{
    background-image: url('wallpaper-mania.com_High_resolution_wallpaper_background_ID_77700363489.jpg');
    background-size: cover;
    
    text-align: center;
    color:white;
}

#camera 
{
  border: 3px solid black;
  width: 800px;
  height: 400px; 
}
.btn{
  background-color: darkcyan;
  color:white;
  font-weight:bold;
  font-size:35px; 
  display:inline-block;
}